<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Data-extraction,-normalization,-and-feature-extraction-on-tweets-geolocated-in-Hawaii" data-toc-modified-id="Data-extraction,-normalization,-and-feature-extraction-on-tweets-geolocated-in-Hawaii-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Data extraction, normalization, and feature extraction on tweets geolocated in Hawaii</a></span><ul class="toc-item"><li><span><a href="#Filter-DiscoverText-CSV-exports-of-geolocated-tweets-on-2017-01-14-(control---1-year-before-missile-threat)-and-2018-01-13-(missile-threat)" data-toc-modified-id="Filter-DiscoverText-CSV-exports-of-geolocated-tweets-on-2017-01-14-(control---1-year-before-missile-threat)-and-2018-01-13-(missile-threat)-0.1.1"><span class="toc-item-num">0.1.1&nbsp;&nbsp;</span>Filter DiscoverText CSV exports of geolocated tweets on 2017-01-14 (control - 1 year before missile threat) and 2018-01-13 (missile threat)</a></span></li><li><span><a href="#Filter-and-clean-JSON-results-of-geolocated-tweets-from-the-30-day-premium-twitter-API-for-2018-03-03T00:00:00-through--2018-03-03T23:59:59-(control---1.5-months-after-missile-threat)" data-toc-modified-id="Filter-and-clean-JSON-results-of-geolocated-tweets-from-the-30-day-premium-twitter-API-for-2018-03-03T00:00:00-through--2018-03-03T23:59:59-(control---1.5-months-after-missile-threat)-0.1.2"><span class="toc-item-num">0.1.2&nbsp;&nbsp;</span>Filter and clean JSON results of geolocated tweets from the 30-day premium twitter API for 2018-03-03T00:00:00 through  2018-03-03T23:59:59 (control - 1.5 months after missile threat)</a></span></li><li><span><a href="#Add-class-label:-mortality_salience" data-toc-modified-id="Add-class-label:-mortality_salience-0.1.3"><span class="toc-item-num">0.1.3&nbsp;&nbsp;</span>Add class label: mortality_salience</a></span></li><li><span><a href="#After-analyzing-CSV-through-LIWC2015-and-appending-LIWC-parameters" data-toc-modified-id="After-analyzing-CSV-through-LIWC2015-and-appending-LIWC-parameters-0.1.4"><span class="toc-item-num">0.1.4&nbsp;&nbsp;</span>After analyzing CSV through LIWC2015 and appending LIWC parameters</a></span></li></ul></li><li><span><a href="#Data-extraction,-normalization,-and-feature-extraction-on-tweets-geolocated-in-US-on-2018-01-13-but-not-specifically-in-Hawaii" data-toc-modified-id="Data-extraction,-normalization,-and-feature-extraction-on-tweets-geolocated-in-US-on-2018-01-13-but-not-specifically-in-Hawaii-0.2"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>Data extraction, normalization, and feature extraction on tweets geolocated in US on 2018-01-13 but not specifically in Hawaii</a></span><ul class="toc-item"><li><span><a href="#After-analyzing-CSV-through-LIWC2015-and-appending-LIWC-parameters" data-toc-modified-id="After-analyzing-CSV-through-LIWC2015-and-appending-LIWC-parameters-0.2.1"><span class="toc-item-num">0.2.1&nbsp;&nbsp;</span>After analyzing CSV through LIWC2015 and appending LIWC parameters</a></span></li><li><span><a href="#Analysis" data-toc-modified-id="Analysis-0.2.2"><span class="toc-item-num">0.2.2&nbsp;&nbsp;</span>Analysis</a></span></li></ul></li></ul></li></ul></div>

## Data extraction, normalization, and feature extraction on tweets geolocated in Hawaii

### Filter DiscoverText CSV exports of geolocated tweets on 2017-01-14 (control - 1 year before missile threat) and 2018-01-13 (missile threat)

In [1]:
import os, sys, json
import numpy as np
import pandas as pd
from glob import glob
from datetime import datetime
import re


# normalize field names
DT_HEADERS = [
    "Title","Text","UnitId","[M] _twitter_id","[M] actor_image: ",
    "[M] actor_languages: ","[M] actor_links_href: ",
    "[M] actor_listedcount: ","[M] actor_utcoffset: ",
    "[M] favorites_count: ","[M] favoritescount: ",
    "[M] followers_count: ","[M] friends_count: ",
    "[M] geo_coordinates: ","[M] geo_type: ",
    "[M] gnip_urls_expanded_url: ",
    "[M] gnip_urls_expanded_url_description: ",
    "[M] gnip_urls_expanded_url_title: ","[M] hashtag: ",
    "[M] id: ","[M] influence_score: ","[M] inreplyto_link: ",
    "[M] language: ","[M] location_coords: ",
    "[M] location_displayname: ","[M] location_geo_type: ",
    "[M] location_name: ","[M] location_type: ","[M] media_url: ",
    "[M] object_country_code: ","[M] object_posted_time: ",
    "[M] object_twitter_link: ","[M] posted_time: ",
    "[M] real_name: ","[M] retweetcount: ","[M] source: ",
    "[M] statuses_count: ","[M] tweet_id: ","[M] tweet_url: ",
    "[M] twitter_entities_media_description: ",
    "[M] twitter_entities_media_expanded_url: ",
    "[M] twitter_entities_media_source_status_id: ",
    "[M] twitter_entities_media_source_user_id: ",
    "[M] twitter_entities_media_source_user_id_str: ",
    "[M] twitter_entities_media_type: ",
    "[M] twitter_entities_media_url: ",
    "[M] twitter_entities_polls_duration_minutes: ",
    "[M] twitter_entities_polls_end_datetime: ",
    "[M] twitter_entities_polls_options_position: ",
    "[M] twitter_entities_polls_options_text: ",
    "[M] twitter_entities_urls_display_url: ",
    "[M] twitter_entities_urls_url: ",
    "[M] user_bio_summary: ","[M] user_id: ",
    "[M] user_is_verified: ","[M] user_location: ",
    "[M] user_mention: ","[M] user_mention_username: ",
    "[M] user_twitter_page: ","[M] username: ","[M] verb: "
]

DT_HEADERS_FILTER = {
    "Text": "text",
    "[M] _twitter_id": "id",
    "[M] actor_listedcount: ": "user_listed_count",
    "[M] favorites_count: ": "user_favourites_count",
    "[M] followers_count: ": "user_followers_count",
    "[M] friends_count: ": "user_friends_count",
    "[M] geo_coordinates: ": "geo_coords",
    "[M] location_coords: ": "place_coords",
    "[M] location_name: ": "place_name",
    "[M] posted_time: ": "created_at",
    "[M] real_name: ": "user_name",
    "[M] source: ": "source",
    "[M] statuses_count: ": "user_statuses_count",
    "[M] user_id: ": "user_id",
    "[M] user_location: ": "user_location",
    "[M] user_bio_summary: ": "user_description",
    "[M] username: ": "user_screen_name",
    "[M] retweetcount: ": "retweet_count",
    "[M] hashtag: ": "hashtag",
}

def filter_clean(df):
    """Filter columns and cleanup values."""
    
    # filter columns
    df_filtered = df.filter(items=DT_HEADERS_FILTER)
    
    # coerce datetime field to datetime object
    df_filtered['[M] posted_time: '] = pd.to_datetime(df_filtered['[M] posted_time: '])
    
    # extract twitter user id
    df_filtered['[M] user_id: '] = df_filtered['[M] user_id: '].str.replace('id:twitter.com:', '')
    
    # rename to friendlier columns
    df_filtered.rename(columns=DT_HEADERS_FILTER, inplace=True)
    
    # set tweet id as index and string
    df_filtered.set_index('id', inplace=True)
    df_filtered.index = df_filtered.index.map(str)
    
    return df_filtered

def clean_tweets(tweets):
    """Create list of filtered and clean dicts with matching column names."""
    
    all_tweets = []
    filtered_count = 0
    for tweet in tweets:
        # filter quote and retweets
        if tweet['is_quote_status'] or tweet['text'].startswith('RT '):
            filtered_count += 1
            continue
        all_tweets.append({
            "text": tweet['text'].replace('\r\n', ' ').replace('\n', ' '),
            "id": str(tweet['id']),
            "user_listed_count": tweet.get('user', {}).get('listed_count', 0),
            "user_favourites_count": tweet.get('user', {}).get('favourites_count', 0),
            "user_followers_count": tweet.get('user', {}).get('followers_count', 0),
            "user_friends_count": tweet.get('user', {}).get('user_friends_count', 0),
            "geo_coords": np.nan if tweet['coordinates'] is None else "%f, %f" %
                (tweet['coordinates']['coordinates'][1],
                 tweet['coordinates']['coordinates'][0]),
            "place_coords": np.nan if tweet['place'] is None else tweet['place']['bounding_box']['coordinates'][0],
            "place_name": np.nan if tweet['place'] is None else tweet['place']['name'],
            "created_at": pd.to_datetime(tweet['created_at']),
            "user_name": tweet['user']['name'],
            "source": re.search(r'>(.+)<', tweet['source']).group(1),
            "user_statuses_count": tweet.get('user', {}).get('statuses_count', 0),
            "user_id": tweet['user']['id'],
            "user_location": tweet['user']['location'],
            "user_description": tweet['user']['description'].replace('\r\n', ' ').replace('\n', ' ') if tweet['user']['description'] is not None else None,
            "user_screen_name": tweet['user']['screen_name'],
            "retweet_count": tweet['retweet_count'],
            "hashtag": "; ".join([i['text'] for i in tweet['entities']['hashtags']]),
        })
    print("total: %d" % len(all_tweets))
    print("filtered: %d" % filtered_count)
    df = pd.DataFrame(all_tweets)
    df.set_index('id', inplace=True)
    df.index = df.index.map(str)
    return df

In [2]:
# read csv into data frame
df_20180113 = pd.read_csv('data/discovertext/hawaii_missile_crisis-export-20180221-113313.csv',
                          infer_datetime_format=True)
df_20180113.head()

,Title,Text,UnitId,[M] _twitter_id,[M] actor_image:,[M] actor_languages:,[M] actor_links_href:,[M] actor_listedcount:,[M] actor_utcoffset:,[M] favorites_count:,...,[M] twitter_entities_urls_url:,[M] user_bio_summary:,[M] user_id:,[M] user_is_verified:,[M] user_location:,[M] user_mention:,[M] user_mention_username:,[M] user_twitter_page:,[M] username:,[M] verb:
0,@hiconversation @TulsiPress Thank you.,@hiconversation @TulsiPress Thank you.,"tag:search.twitter.com,2005:951967092512669696",951967092512669696,https://pbs.twimg.com/profile_images/886996475...,en,NaN,3,-28800.0,3051,...,NaN,True Progressive. Done with organized politics...,id:twitter.com:337821005,False,"Waianae, HI",The Conversation; Rep. Tulsi Gabbard,hiconversation; TulsiPress,http://www.twitter.com/mxpalazzo,mxpalazzo,post
1,@iAmJamon Dayum guhhh lol my sad,@iAmJamon Dayum guhhh lol my sad,"tag:search.twitter.com,2005:951967163933274112",951967163933274112,https://pbs.twimg.com/profile_images/947624419...,en,NaN,1,-28800.0,15468,...,NaN,"gotta ting for a king, but u ain‚Äôt a king ‚ú®ü•Ä‚ôãÔ∏è...",id:twitter.com:815820300377944064,False,O'AHU,Jamonüá¶üá∏,iAmJamon,http://www.twitter.com/sweetlikesulia,sweetlikesulia,post
2,Welp. @MJD and @89JonesNTAF should lose their ...,Welp. @MJD and @89JonesNTAF should lose their ...,"tag:search.twitter.com,2005:951967428828741632",951967428828741632,https://pbs.twimg.com/profile_images/950079008...,en,NaN,38,-18000.0,67910,...,https://t.co/Nk8zpcg4T9,JT was short. Lions. Tigers. Red Wings. Piston...,id:twitter.com:297639393,False,"Hawaii, USA",Maurice Jones-Drew; James Jones,MJD; 89JonesNTAF,http://www.twitter.com/j_Borders,j_Borders,post
3,@TommyBeeswax Trendy. But he has more of an ar...,@TommyBeeswax Trendy. But he has more of an ar...,"tag:search.twitter.com,2005:951967492628361216",951967492628361216,https://pbs.twimg.com/profile_images/950079008...,en,NaN,38,-18000.0,67910,...,NaN,JT was short. Lions. Tigers. Red Wings. Piston...,id:twitter.com:297639393,False,"Hawaii, USA",Tommy,TommyBeeswax,http://www.twitter.com/j_Borders,j_Borders,post
4,I‚Äôm still Jet lack ü§¶‚Äç‚ôÄÔ∏è haven‚Äôt even unpacked ...,I‚Äôm still Jet lack ü§¶‚Äç‚ôÄÔ∏è haven‚Äôt even unpacked ...,"tag:search.twitter.com,2005:951967591215452160",951967591215452160,https://pbs.twimg.com/profile_images/950427643...,en,NaN,0,NaN,2560,...,NaN,üíï| Hoyt ü§ûüèª‚ù§Ô∏è|,id:twitter.com:701256750138142720,False,NaN,NaN,NaN,http://www.twitter.com/Mama_Neeenz_15,Mama_Neeenz_15,post

In [3]:
df_20180113_filtered = filter_clean(df_20180113)
df_20180113_filtered.head()

,text,user_listed_count,user_favourites_count,user_followers_count,user_friends_count,geo_coords,place_coords,place_name,created_at,user_name,source,user_statuses_count,user_id,user_location,user_description,user_screen_name,retweet_count,hashtag
id,,,,,,,,,,,,,,,,,,
951967092512669696,@hiconversation @TulsiPress Thank you.,3,3051,684,1851,NaN,"[[-158.180289,21.399615],[-158.180289,21.42992...",Maili,2018-01-13 00:00:16,MX,Twitter for iPad,5705,337821005,"Waianae, HI",True Progressive. Done with organized politics...,mxpalazzo,0,NaN
951967163933274112,@iAmJamon Dayum guhhh lol my sad,1,15468,1355,768,NaN,"[[-158.030114,21.426592],[-158.030114,21.46596...",Mililani Town,2018-01-13 00:00:33,üçØ,Twitter for iPhone,14848,815820300377944064,O'AHU,"gotta ting for a king, but u ain‚Äôt a king ‚ú®ü•Ä‚ôãÔ∏è...",sweetlikesulia,0,NaN
951967428828741632,Welp. @MJD and @89JonesNTAF should lose their ...,38,67910,960,772,NaN,"[[-157.862463,21.424797],[-157.862463,21.45579...",Ahuimanu,2018-01-13 00:01:36,#InQuinnWeTrust,Twitter for iPhone,119659,297639393,"Hawaii, USA",JT was short. Lions. Tigers. Red Wings. Piston...,j_Borders,0,NaN
951967492628361216,@TommyBeeswax Trendy. But he has more of an ar...,38,67910,960,772,NaN,"[[-157.862463,21.424797],[-157.862463,21.45579...",Ahuimanu,2018-01-13 00:01:51,#InQuinnWeTrust,Twitter for iPhone,119660,297639393,"Hawaii, USA",JT was short. Lions. Tigers. Red Wings. Piston...,j_Borders,0,NaN
951967591215452160,I‚Äôm still Jet lack ü§¶‚Äç‚ôÄÔ∏è haven‚Äôt even unpacked ...,0,2560,123,238,NaN,"[[-158.018703,21.390995],[-158.018703,21.41511...",Waikele,2018-01-13 00:02:15,Bernina Asuegaüëë,Twitter for iPhone,2215,701256750138142720,NaN,üíï| Hoyt ü§ûüèª‚ù§Ô∏è|,Mama_Neeenz_15,0,NaN

In [4]:
# add data from full archive premium search on place=", HI"
with open('data/twitter/premium_search-full/hi_tweets-full-place.json') as f:
    df_20180113_prem = clean_tweets(json.load(f))

# add unseen tweets
print("HI 2018-01-13 tweets from discovertext: {}".format(len(df_20180113_filtered)))
print("HI 2018-01-13 tweets from premium: {}".format(len(df_20180113_prem)))
new = 0
old = 0
for id, row in df_20180113_prem.iterrows():
    if id not in df_20180113_filtered.index: new += 1
    else: old += 1
    df_20180113_filtered.loc[id] = row
print("premium tweets added: {}".format(new))
print("premium tweets not added: {}".format(old))
df_20180113_filtered = df_20180113_filtered.sort_values(by=['created_at'])
print("total unique HI 2018-01-13 tweets from discovertext and premium: {}".format(len(df_20180113_filtered)))
df_20180113_filtered.head()

total: 380
filtered: 17
HI 2018-01-13 tweets from discovertext: 5231
HI 2018-01-13 tweets from premium: 380
premium tweets added: 148
premium tweets not added: 232
total unique HI 2018-01-13 tweets from discovertext and premium: 5379

,text,user_listed_count,user_favourites_count,user_followers_count,user_friends_count,geo_coords,place_coords,place_name,created_at,user_name,source,user_statuses_count,user_id,user_location,user_description,user_screen_name,retweet_count,hashtag
id,,,,,,,,,,,,,,,,,,
951967092512669696,@hiconversation @TulsiPress Thank you.,3,3051,684,1851,NaN,"[[-158.180289,21.399615],[-158.180289,21.42992...",Maili,2018-01-13 00:00:16,MX,Twitter for iPad,5705,337821005,"Waianae, HI",True Progressive. Done with organized politics...,mxpalazzo,0,NaN
951967163933274112,@iAmJamon Dayum guhhh lol my sad,1,15468,1355,768,NaN,"[[-158.030114,21.426592],[-158.030114,21.46596...",Mililani Town,2018-01-13 00:00:33,üçØ,Twitter for iPhone,14848,815820300377944064,O'AHU,"gotta ting for a king, but u ain‚Äôt a king ‚ú®ü•Ä‚ôãÔ∏è...",sweetlikesulia,0,NaN
951967428828741632,Welp. @MJD and @89JonesNTAF should lose their ...,38,67910,960,772,NaN,"[[-157.862463,21.424797],[-157.862463,21.45579...",Ahuimanu,2018-01-13 00:01:36,#InQuinnWeTrust,Twitter for iPhone,119659,297639393,"Hawaii, USA",JT was short. Lions. Tigers. Red Wings. Piston...,j_Borders,0,NaN
951967492628361216,@TommyBeeswax Trendy. But he has more of an ar...,38,67910,960,772,NaN,"[[-157.862463,21.424797],[-157.862463,21.45579...",Ahuimanu,2018-01-13 00:01:51,#InQuinnWeTrust,Twitter for iPhone,119660,297639393,"Hawaii, USA",JT was short. Lions. Tigers. Red Wings. Piston...,j_Borders,0,NaN
951967591215452160,I‚Äôm still Jet lack ü§¶‚Äç‚ôÄÔ∏è haven‚Äôt even unpacked ...,0,2560,123,238,NaN,"[[-158.018703,21.390995],[-158.018703,21.41511...",Waikele,2018-01-13 00:02:15,Bernina Asuegaüëë,Twitter for iPhone,2215,701256750138142720,NaN,üíï| Hoyt ü§ûüèª‚ù§Ô∏è|,Mama_Neeenz_15,0,NaN

In [5]:
# save to new csv
df_20180113_filtered.to_csv('data/hawaii_missile_crisis-20180113.csv')

In [6]:
# do same for control (one year before)
df_20170114 = pd.read_csv('data/discovertext/hawaii_missile_crisis___control-export-20180227-040905.csv',
                         infer_datetime_format=True)
df_20170114_filtered = filter_clean(df_20170114)
df_20170114_filtered.to_csv('data/hawaii_missile_crisis_control-20170114.csv')
print("HI 2017-01-14 tweets from discovertext: {}".format(len(df_20170114_filtered)))
df_20170114_filtered.head()

HI 2017-01-14 tweets from discovertext: 2850

,text,user_listed_count,user_favourites_count,user_followers_count,user_friends_count,geo_coords,place_coords,place_name,created_at,user_name,source,user_statuses_count,user_id,user_location,user_description,user_screen_name,retweet_count,hashtag
id,,,,,,,,,,,,,,,,,,
820058091899097088,Probabaly one of the worst end and start of a ...,1,2037,531,519,NaN,"[[-156.5369,20.860213],[-156.5369,20.916384],[...",Wailuku,2017-01-14 00:00:59,brianne cremer,Twitter for iPhone,2228,2974710300,NaN,NaN,briiimc,0,NaN
820058778364063745,Really can't wait till she comes back tho omg,0,1199,144,160,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,2017-01-14 00:03:43,Keli'i Kaheaku,Twitter for iPhone,1786,1056701564,"Aiea, HI",NaN,Kelii_bruh,0,NaN
820058727021559808,First time in a while burning in this car with...,0,1199,144,160,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,2017-01-14 00:03:31,Keli'i Kaheaku,Twitter for iPhone,1785,1056701564,"Aiea, HI",NaN,Kelii_bruh,0,NaN
820058744201637888,This is how the Milky Way was made right? .......,63,1962,303,522,"19.65,-155.994","[[-156.008921,19.615529],[-156.008921,19.71363...",Kailua,2017-01-14 00:03:35,Nha Ha,Instagram,4783,37175031,Palo Alto,"@calpoly alumnus. Photographer, techie and foo...",Nhaha1,0,coffeeshots; thetrendybarista
820058694759174144,Still craving Slurpees! @ 7-11 Downtown Bishop...,569,937,14978,4512,"21.30928901,-157.86054413","[[-157.950476,21.254837],[-157.950476,21.38505...",Honolulu,2017-01-14 00:03:23,Catherine Toth Fox,Instagram,45375,32535143,"O‚Äòahu, Hawai‚Äòi","Eats, travels, hikes, surfs ‚Äî and lives to blo...",thedailydish,0,NaN

### Filter and clean JSON results of geolocated tweets from the 30-day premium twitter API for 2018-03-03T00:00:00 through  2018-03-03T23:59:59 (control - 1.5 months after missile threat)

In [7]:
from glob import glob
import re


# twitter api limits geolocation search of tweets to a point with max radius of 25 miles
# therefore I had to make multiple geolocation searches (1 per island centered on the 
# approximate center of the island)
tweet_files = glob('data/twitter/hawaii_missile_crisis-control2-fullday/*.json')
all_tweets = []
for tweet_file in tweet_files:
    print("processing {}".format(tweet_file))
    with open(tweet_file) as f:
        all_tweets.extend(json.load(f))
        
df_20180303_filtered = clean_tweets(all_tweets)
df_20180303_filtered.to_csv('data/hawaii_missile_crisis_control-20180303.csv')
print("HI 2018-03-03 tweets from premium: {}".format(len(df_20180303_filtered)))
df_20180303_filtered.head()

processing data/twitter/hawaii_missile_crisis-control2-fullday/hawaii-east_tweets.json
processing data/twitter/hawaii_missile_crisis-control2-fullday/hawaii-west_tweets.json
processing data/twitter/hawaii_missile_crisis-control2-fullday/kauai_tweets.json
processing data/twitter/hawaii_missile_crisis-control2-fullday/lanai_tweets.json
processing data/twitter/hawaii_missile_crisis-control2-fullday/maui_tweets.json
processing data/twitter/hawaii_missile_crisis-control2-fullday/molokai_tweets.json
processing data/twitter/hawaii_missile_crisis-control2-fullday/oahu_tweets.json
total: 5789
filtered: 762
HI 2018-03-03 tweets from premium: 5789

,created_at,geo_coords,hashtag,place_coords,place_name,retweet_count,source,text,user_description,user_favourites_count,user_followers_count,user_friends_count,user_id,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count
id,,,,,,,,,,,,,,,,,,
970079587932676096,2018-03-03 23:32:51,"19.719497, -155.082568",job; Hilo; CustomerService; Hiring; CareerArc,"[[-155.184552, 19.656471], [-155.184552, 19.73...",Hilo,0,TweetMyJOBS,Can you recommend anyone for this #job in #Hil...,Follow this account for geo-targeted Customer ...,0,291,0,71968934,25,Hawaii,HI Cust. Srv. Jobs,tmj_HI_cstsrv,128
970078905175453697,2018-03-03 23:30:08,"19.639994, -155.996926",job; KailuaKona; Transportation; Hiring; Caree...,"[[-156.008921, 19.615529], [-156.008921, 19.71...",Kailua,0,TweetMyJOBS,"Interested in a #job in #KailuaKona, HI? This ...",Follow this account for geo-targeted Transport...,0,292,0,149759558,8,Hawaii,TMJ-HI Transport.,tmj_HI_transp,19
970078270552268801,2018-03-03 23:27:37,"19.501000, -154.953000",love; lunch; photooftheday; yummy; tacos; vega...,"[[-154.964517, 19.483084], [-154.964517, 19.51...",Pahoa,0,Instagram,A healthy lunch is a happy lunch üåÆ üòã #love #l...,Yoga-Detox-Meditation-d≈çTERRA-Plant Based Nutr...,398,476,0,461749019,7,Duval,Sacred Cow Living,Indica_Honey,1758
970078225798803456,2018-03-03 23:27:26,NaN,,"[[-156.008921, 19.615529], [-156.008921, 19.71...",Kailua,0,Twitter for iPhone,@ledddie thank you,i brought the love,30413,1153,0,313673764,10,"Kailua-Kona, HI | Ft Wayne, IN",LOVE,ChaseFromHawaii,69358
970076567840829440,2018-03-03 23:20:51,NaN,,"[[-155.184552, 19.656471], [-155.184552, 19.73...",Hilo,0,Twitter for iPhone,"Can the sickness just go away please, I‚Äôd real...","·¥° ú·¥á…¥ è·¥è·¥ú “ì…™…¥·¥Ö è·¥è·¥ú Ä s·¥è·¥ú ü·¥ç·¥Ä·¥õ·¥á, …¥·¥è ô·¥è·¥Ö è ·¥á üs·¥á ·¥ç·¥Ä·¥õ·¥õ·¥á...",349,78,0,2612815092,0,None,AshleyLeiko,ashley_leiko,2122

In [8]:
# merge data frames into one and dump to CSV
frames = [ df_20180303_filtered, df_20170114_filtered, df_20180113_filtered ]
all_df = pd.concat(frames).sort_values(by=['created_at'])
all_df.to_csv('data/hawaii_missile_crisis-all.csv')
print(len(all_df))
all_df = all_df[~all_df.index.duplicated(keep='first')]
print(len(all_df))
all_df.head()

14018
12868

,created_at,geo_coords,hashtag,place_coords,place_name,retweet_count,source,text,user_description,user_favourites_count,user_followers_count,user_friends_count,user_id,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count
id,,,,,,,,,,,,,,,,,,
820058091899097088,2017-01-14 00:00:59,NaN,NaN,"[[-156.5369,20.860213],[-156.5369,20.916384],[...",Wailuku,0,Twitter for iPhone,Probabaly one of the worst end and start of a ...,NaN,2037,531,519,2974710300,1,NaN,brianne cremer,briiimc,2228
820058694759174144,2017-01-14 00:03:23,"21.30928901,-157.86054413",NaN,"[[-157.950476,21.254837],[-157.950476,21.38505...",Honolulu,0,Instagram,Still craving Slurpees! @ 7-11 Downtown Bishop...,"Eats, travels, hikes, surfs ‚Äî and lives to blo...",937,14978,4512,32535143,569,"O‚Äòahu, Hawai‚Äòi",Catherine Toth Fox,thedailydish,45375
820058727021559808,2017-01-14 00:03:31,NaN,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,0,Twitter for iPhone,First time in a while burning in this car with...,NaN,1199,144,160,1056701564,0,"Aiea, HI",Keli'i Kaheaku,Kelii_bruh,1785
820058744201637888,2017-01-14 00:03:35,"19.65,-155.994",coffeeshots; thetrendybarista,"[[-156.008921,19.615529],[-156.008921,19.71363...",Kailua,0,Instagram,This is how the Milky Way was made right? .......,"@calpoly alumnus. Photographer, techie and foo...",1962,303,522,37175031,63,Palo Alto,Nha Ha,Nhaha1,4783
820058778364063745,2017-01-14 00:03:43,NaN,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,0,Twitter for iPhone,Really can't wait till she comes back tho omg,NaN,1199,144,160,1056701564,0,"Aiea, HI",Keli'i Kaheaku,Kelii_bruh,1786

### Add class label: mortality_salience

This stage is a manual task. Here we add a new column named mortality_salience. It will either take a value of 1 or 0. If 1, we label that the tweeter is experiencing mortality salience. Here we defer to the domain expertise on mortality salience which defines that a person experiences mortality salience when they are coping with imminent death. In this task, I:

1. label all tweets within the crisis period (geolocated in HI between 2018-01-13 08:07-08:21AM HST) as "1" and all others as "0"
1. Manually go through the tweets during this crisis period and change any tweets not related to the missile crisis to "0" (e.g. twitpics about food, vacationing in paradise, etc.)
1. Go through tweets after the crisis period ends (after 08:20AM which is the first official notification of the cancellation of the missile threat) and label any tweets as "1" where I determine that the tweeter may not be aware of the cancellation yet

In [9]:
# add column for mortality_salience (default to 0)
all_df_labelled = all_df.assign(mortality_salience=0)

# set tweets that fall within crisis period to 1
all_df_labelled.loc[(all_df_labelled['created_at'] >= datetime(2018, 1, 13, 18, 7, 0)) &
                    (all_df_labelled['created_at'] <= datetime(2018, 1, 13, 18, 21, 0)),
                    'mortality_salience'] = 1

# save
all_df_labelled.to_csv('data/hawaii_missile_crisis-all-labelled.csv')
all_df_labelled.head()

# open "hawaii_missile_crisis-all-labelled.csv" in excel and 
# update labels based on #2 and #3 above. Save.

,created_at,geo_coords,hashtag,place_coords,place_name,retweet_count,source,text,user_description,user_favourites_count,user_followers_count,user_friends_count,user_id,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,mortality_salience
id,,,,,,,,,,,,,,,,,,,
820058091899097088,2017-01-14 00:00:59,NaN,NaN,"[[-156.5369,20.860213],[-156.5369,20.916384],[...",Wailuku,0,Twitter for iPhone,Probabaly one of the worst end and start of a ...,NaN,2037,531,519,2974710300,1,NaN,brianne cremer,briiimc,2228,0
820058694759174144,2017-01-14 00:03:23,"21.30928901,-157.86054413",NaN,"[[-157.950476,21.254837],[-157.950476,21.38505...",Honolulu,0,Instagram,Still craving Slurpees! @ 7-11 Downtown Bishop...,"Eats, travels, hikes, surfs ‚Äî and lives to blo...",937,14978,4512,32535143,569,"O‚Äòahu, Hawai‚Äòi",Catherine Toth Fox,thedailydish,45375,0
820058727021559808,2017-01-14 00:03:31,NaN,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,0,Twitter for iPhone,First time in a while burning in this car with...,NaN,1199,144,160,1056701564,0,"Aiea, HI",Keli'i Kaheaku,Kelii_bruh,1785,0
820058744201637888,2017-01-14 00:03:35,"19.65,-155.994",coffeeshots; thetrendybarista,"[[-156.008921,19.615529],[-156.008921,19.71363...",Kailua,0,Instagram,This is how the Milky Way was made right? .......,"@calpoly alumnus. Photographer, techie and foo...",1962,303,522,37175031,63,Palo Alto,Nha Ha,Nhaha1,4783,0
820058778364063745,2017-01-14 00:03:43,NaN,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,0,Twitter for iPhone,Really can't wait till she comes back tho omg,NaN,1199,144,160,1056701564,0,"Aiea, HI",Keli'i Kaheaku,Kelii_bruh,1786,0

### After analyzing CSV through LIWC2015 and appending LIWC parameters

In [10]:
# TODO: first fix column names manually in vi editor
hi_df = pd.read_csv('data/hawaii_missile_crisis-all-labelled-LIWC2015.csv',
                 encoding="ISO-8859-1", infer_datetime_format=True,
                 parse_dates=['created_at'])
hi_df.set_index('id', inplace=True)
hi_df.index = hi_df.index.map(str)
hi_df.head()

,geo_coords,hashtag,place_coords,place_name,retweet_count,source,created_at,mortality_salience,text,user_description,...,Comma,Colon,SemiC,QMark,Exclam,Dash,Quote,Apostro,Parenth,OtherP
id,,,,,,,,,,,,,,,,,,,,,
820058091899097088,NaN,NaN,"[[-156.5369,20.860213],[-156.5369,20.916384],[...",Wailuku,0,Twitter for iPhone,2017-01-14 00:00:59,0,Probabaly one of the worst end and start of a ...,NaN,...,4.35,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00
820058694759174144,"21.30928901,-157.86054413",NaN,"[[-157.950476,21.254837],[-157.950476,21.38505...",Honolulu,0,Instagram,2017-01-14 00:03:23,0,Still craving Slurpees! @ 7-11 Downtown Bishop...,"Eats, travels, hikes, surfs √¢¬Ä¬ö√É¬Ñ√É¬Æ and lives ...",...,0.00,0.0,0.0,0.00,7.69,7.69,0.0,0.00,0.0,23.08
820058727021559808,NaN,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,0,Twitter for iPhone,2017-01-14 00:03:31,0,First time in a while burning in this car with...,NaN,...,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,0.00
820058744201637888,"19.65,-155.994",coffeeshots; thetrendybarista,"[[-156.008921,19.615529],[-156.008921,19.71363...",Kailua,0,Instagram,2017-01-14 00:03:35,0,This is how the Milky Way was made right? .......,"@calpoly alumnus. Photographer, techie and foo...",...,0.00,0.0,0.0,5.88,0.00,0.00,0.0,0.00,0.0,23.53
820058778364063745,NaN,NaN,"[[-157.943639,21.374177],[-157.943639,21.42129...",Aiea,0,Twitter for iPhone,2017-01-14 00:03:43,0,Really can't wait till she comes back tho omg,NaN,...,0.00,0.0,0.0,0.00,0.00,0.00,0.0,11.11,0.0,0.00

## Data extraction, normalization, and feature extraction on tweets geolocated in US on 2018-01-13 but not specifically in Hawaii

In [11]:
# remove data from full archive premium search on place="US" that already exists
with open('data/twitter/premium_search-full/us_tweets-full-place.json') as f:
    df_20180113_prem_us = clean_tweets(json.load(f))

# add unseen tweets
exists = []
print("US 2018-01-13 tweets from premium: {}".format(len(df_20180113_prem_us)))
for id, row in df_20180113_prem_us.iterrows():
    if id in hi_df.index:
        exists.append(id)
print("removing: {}".format(len(exists)))
df_20180113_prem_us = df_20180113_prem_us.drop(exists).sort_values(by=['created_at'])
print("Final US 2018-01-13 tweets from premium: {}".format(len(df_20180113_prem_us)))
print(len(df_20180113_prem_us))
df_20180113_prem_us.to_csv('data/us_tweets-20180113.csv')
df_20180113_prem_us.head()

total: 7834
filtered: 1515
US 2018-01-13 tweets from premium: 7834
removing: 250
Final US 2018-01-13 tweets from premium: 7584
7584

,created_at,geo_coords,hashtag,place_coords,place_name,retweet_count,source,text,user_description,user_favourites_count,user_followers_count,user_friends_count,user_id,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count
id,,,,,,,,,,,,,,,,,,
952240581165465601,2018-01-13 18:07:00,NaN,,"[[-117.282538, 32.53962], [-117.282538, 33.080...",San Diego,0,Twitter for iPhone,@KellerCaponePhD @Garmin I stopped looking at ...,These Santa Ana Winds are drying out my skin ....,25185,131,0,324695721,9,"Normal Heights, San Diego",Your Post is not logical,MysterMyke,30524
952240577071984640,2018-01-13 18:07:00,NaN,,"[[-97.839309, 31.10447], [-97.839309, 31.16109...",Fort Hood,0,Twitter for Android,Our new kitten thinks Kyle's his mom and sucke...,Photographer üì∏ Fur mom üê∂üê∂üê∂üê±üê±,5882,172,0,887652411741011968,0,"Texas, USA",Brooklyn Russell,brookrussell13,1154
952240577071996929,2018-01-13 18:07:00,NaN,,"[[-90.418108, 41.696088], [-90.418108, 48.3062...",Michigan,0,Twitter for Android,@PossieElizabeth @realDonaldTrump @ConserValid...,"For Truth, Justice and The American Way!",220,30,0,892323194,15,None,Who'sNew's,6crochet7,3357
952240577113985024,2018-01-13 18:07:00,"33.133462, -117.061396",,"[[-117.146102, 33.057782], [-117.146102, 33.18...",Escondido,0,Foursquare,"I'm at Grocery Outlet in Escondido, CA https:/...",whatcha want to know? :),22,19,0,215876350,0,"Escondido, CA",Reginald John Trout,Reggie_Trout,679
952240577403265025,2018-01-13 18:07:00,"33.532377, -112.261321",,"[[-114.818269, 31.332246], [-114.818269, 37.00...",Arizona,0,Instagram,Nice view for the Cap Panel. @ Gila River Aren...,"Aspiring Smart Person, Philanthropist, & Entre...",1961,389,0,1939890270,9,"Mission Viejo, CA",Alex Larsen üêúüêúüêú #4854,AlexandriaL89,3727

### After analyzing CSV through LIWC2015 and appending LIWC parameters

In [12]:
# TODO: first fix column names manually in vi editor
us_df = pd.read_csv('data/us_tweets-20180113-LIWC2015.csv',
                    encoding="ISO-8859-1", infer_datetime_format=True,
                    parse_dates=['created_at'])
us_df.set_index('id', inplace=True)
us_df.index = us_df.index.map(str)
us_df.head()

,created_at,geo_coords,hashtag,place_coords,place_name,retweet_count,source,text,user_description,user_favourites_count,...,Comma,Colon,SemiC,QMark,Exclam,Dash,Quote,Apostro,Parenth,OtherP
id,,,,,,,,,,,,,,,,,,,,,
952240581165465601,2018-01-13 18:07:00,NaN,NaN,"[[-117.282538, 32.53962], [-117.282538, 33.080...",San Diego,0,Twitter for iPhone,@KellerCaponePhD @Garmin I stopped looking at ...,These Santa Ana Winds are drying out my skin ....,25185,...,0.00,0.0,0.0,0.0,0.0,3.7,0.0,0.00,0.0,14.81
952240577071984640,2018-01-13 18:07:00,NaN,NaN,"[[-97.839309, 31.10447], [-97.839309, 31.16109...",Fort Hood,0,Twitter for Android,Our new kitten thinks Kyle's his mom and sucke...,Photographer √∞¬ü¬ì¬∏ Fur mom √∞¬ü¬ê¬∂√∞¬ü¬ê¬∂√∞¬ü¬ê¬∂√∞¬ü¬ê¬±√∞¬ü¬ê¬±,5882,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,5.26,0.0,0.00
952240577071996929,2018-01-13 18:07:00,NaN,NaN,"[[-90.418108, 41.696088], [-90.418108, 48.3062...",Michigan,0,Twitter for Android,@PossieElizabeth @realDonaldTrump @ConserValid...,"For Truth, Justice and The American Way!",220,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,4.55,0.0,22.73
952240577113985024,2018-01-13 18:07:00,"33.133462, -117.061396",NaN,"[[-117.146102, 33.057782], [-117.146102, 33.18...",Escondido,0,Foursquare,"I'm at Grocery Outlet in Escondido, CA https:/...",whatcha want to know? :),22,...,8.33,0.0,0.0,0.0,0.0,0.0,0.0,8.33,0.0,16.67
952240577403265025,2018-01-13 18:07:00,"33.532377, -112.261321",NaN,"[[-114.818269, 31.332246], [-114.818269, 37.00...",Arizona,0,Instagram,Nice view for the Cap Panel. @ Gila River Aren...,"Aspiring Smart Person, Philanthropist, & Entre...",1961,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,21.43

### Analysis

In [13]:
from datetime import datetime

hi_df = pd.read_csv('data/hawaii_missile_crisis-all-labelled-LIWC2015.csv',
                 encoding="ISO-8859-1", infer_datetime_format=True,
                 parse_dates=['created_at'])
hi_df.set_index('id', inplace=True)
hi_df.index = hi_df.index.map(str)

In [14]:
mt_df = hi_df[(hi_df['created_at'] >= datetime(2018, 1, 13, 18, 7, 0)) &
              (hi_df['created_at'] <= datetime(2018, 1, 13, 18, 21, 0))].sort_values(by=['created_at'])
print("HI tweets between 18:07AM-18:21AM 2019-01-13: {}".format(len(mt_df)))
mt_df.head()

HI tweets between 18:07AM-18:21AM 2019-01-13: 421

,geo_coords,hashtag,place_coords,place_name,retweet_count,source,created_at,mortality_salience,text,user_description,...,Comma,Colon,SemiC,QMark,Exclam,Dash,Quote,Apostro,Parenth,OtherP
id,,,,,,,,,,,,,,,,,,,,,
952240622584315905,NaN,NaN,"[[-157.950476, 21.254837], [-157.950476, 21.38...",Honolulu,0,Twitter for iPhone,2018-01-13 18:07:10,0,@PhilipsLiveFrom @DoctorRajD A √¢¬Ä¬ö√É¬Ñ√É¬∫doctor√¢¬Ä...,I√¢¬Ä¬ö√É¬Ñ√É¬¥ve never met a horse or a dog I did no...,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,18.18
952240861655552000,"21.298976, -157.819644",NaN,"[[-157.950476, 21.254837], [-157.950476, 21.38...",Honolulu,0,Instagram,2018-01-13 18:08:07,0,Talking about iKon√¢¬Ä¬ö√É¬Ñ√É¬¥s COMEBACK on From On...,NaN,...,0.0,0.0,0.0,0.0,4.35,0.0,0.0,0.0,0.0,8.70
952240867326164993,"20.022600, -155.674912",NaN,"[[-155.714968, 20.013661], [-155.714968, 20.04...",Waimea,0,Instagram,2018-01-13 18:08:09,0,A lite breakfast to start our day before headi...,"Proud mom, avid sports fan: ]\/[ichigan Wolver...",...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,11.11
952240890407395328,NaN,NaN,"[[-156.008921, 19.615529], [-156.008921, 19.71...",Kailua,1,Twitter for iPhone,2018-01-13 18:08:14,1,Wtf do I do wtf wtf wtf I√¢¬Ä¬ö√É¬Ñ√É¬¥m so scared ht...,√¢¬Ä¬ö√É¬Ñ√Ç¬¢snap:gigigracie√¢¬Ä¬ö√É¬Ñ√Ç¬¢ Rebel Princess √¢...,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,12.50
952240907939561472,NaN,NaN,"[[-157.950476, 21.254837], [-157.950476, 21.38...",Honolulu,0,Twitter for iPhone,2018-01-13 18:08:18,1,Oh god it was nice knowing you all,"OEF Vet. Likes pretty pictures, lesbian-friend...",...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00

In [15]:
# number of tweets labelled as mortality salience during missile threat crisis period
ms_df = mt_df[mt_df['mortality_salience'] == 1]
print("HI tweets between 18:07-18:21 AM 2019-01-13 labelled as mortality_salience: {}".format(len(ms_df)))
print("percent mortality salience: {}".format(len(ms_df)/len(mt_df)))

HI tweets between 18:07-18:21 AM 2019-01-13 labelled as mortality_salience: 390
percent mortality salience: 0.9263657957244655

In [16]:
grouped_ms = ms_df.groupby("user_screen_name")
grouped_ms.size()

user_screen_name
128hoursperweek    1
1weirdAlien        2
808hulamom         1
8oh8sneakers       1
AMakahanaloa       1
AaronFlener        1
AliceYamamotoo     1
Aron_Okamoto       1
Baeseyyy           1
Bayleyanela        1
Bertneyrunner      1
BrandyMaria17      1
BryanThomson       1
Brycin_            2
CBodensieck        1
Carnage4Life       1
CarolParrish808    2
Celestee_2         1
ChairmanJimmy      1
Charence           1
CivilBeat          1
ClaraATwork        1
ComradeJim         2
Conner_Petersen    1
CreedjHarley       1
DallasHart8        1
DaraInHawaii       1
DariusMoFo         1
DeeJayVaughn       1
DelLeFevre         1
                  ..
t_hankkk14         1
talamobley         1
talldarkandsome    1
tarotaylorr        1
taryn_hai          1
tayycha            1
tdaniels_2         1
tfuso              2
theeMikeHarrell    1
tinyxmae           1
titoioane          1
tonynotronald      1
tupauuu            1
uhitsmallory       3
vegetoise          1
vioIentisIands     2
watshawaii         1
waydavis           1
weerdnaa           1
wehi_kanoa         1
wolfgvbe           1
worldwydewayne     1
wpugh              1
wthjhay            1
wunderfish         1
xchelsev           1
xochristinnna      1
xomattt            1
yesyoumarc         1
ynoelani           1
Length: 320, dtype: int64